/* Main Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Main Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a6574;
  padding: 10px 20px;
  box-sizing: border-box;
}

.logo-image {
  /* margin-right: 30px;  */
  margin-left: 20px;
  
}

.logo-image img {
  height: 50px; /* Adjust the logo size as needed */
  border-radius: 8px;
}

.navbar-nav {
  display: flex;
  flex-grow: 1;
  margin-right: 30px; /* Adjust the value to your desired space */
}
.navbar-nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar-nav li {
  margin: 0 18px;
  display: flex;
  align-items: center;

}

.navbar-nav li {
  color: white;
  text-decoration: none;
}
.navbar .logo-image {
  margin-right: 50px; /* Adjust the value to your desired space */
}


.navbar .navbar-nav form{
  display: flex;
}
.navbar .navbar-nav form button{
  color: yellow;
  border-color: yellow
}
.navbar-nav ul form button:hover {
  background-color:rgb(21, 196, 193);
  color:rgb(225, 11, 11); ;

  /* border-radius: 4px; */
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 20px;
  background-color: white;
  margin: 4px 10px;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .navbar-nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
  }

  .navbar-nav ul {
    flex-direction: column;
  }

  .navbar-nav li {
    margin: 10px 0;
    text-align: center;
  }

  .navbar-toggle {
    display: flex;
  }
}