.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  /* background-color: #d11414; */
  color: white;
  position: relative;
}
.menu-logo-container {
  position: relative;
  display: flex;
  align-items: center;
}
.circle-background {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgb(4, 4, 4) ;
  border-radius: 50%;
  margin-left: 5px;
  animation: moveBackForth 1.2s infinite;
}
@keyframes moveBackForth {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.menu-logo {
  font-size: 24px;
  color: rgb(255, 255, 255);
  position: relative;
  margin-left: 17px;
  cursor: pointer;
  animation: moveBackForth1 1.3s infinite;
  
}
@keyframes moveBackForth1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
/* .menu-logo:after{
  content: '';
  background-color: aqua;
  height: 50px;
  width: 50px;
} */

.menu-items {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 58px;
  left: 0px;
  background-color: #ffffff;
  width: 30%;
  
}

.menu-item {
  color: rgb(7, 7, 7);
  padding: 10px 5px;
  font-weight: 500;
  text-decoration: none;
}

@media (max-width: 767px) {
  .menu-items {display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    top: 65px;
    gap: 1.5rem;
    font-weight: 500;
    background-color: rgb(230, 217, 217);
    z-index: 1;
  }
  nav .animation{
    position: absolute;
    height: 100%;
    z-index: -1;
    background: aqua;
    width: 80px;
    border-radius: 8px;
    transition: all .5s ease 0s;
  }
  a:nth-child(1){
    width: 100px;
  }
  nav .start-home, a:nth-child(1):hover~.animation{
    width: 100px;
    left: 0px;
  }
  a:nth-child(2){
    width: 120px;
  }
  nav .start-home, a:nth-child(2):hover~.animation{
    width: 120px;
    left: 100px;
  }
  a:nth-child(3){
    width: 190px;
  }
  nav .start-home, a:nth-child(3):hover~.animation{
    width: 190px;
    left: 240px;
  }

}
.image-logo img{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  border-radius: 50%;
  animation: moveBackForth1 1.3s infinite;
}
@keyframes moveBackForth1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
